<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
      <h1>BrewBear</h1>
      <p>Adventures in living simply.</p>
    </header>
    <main>
      {{ content | safe}}
    </main>
    <footer>
      Made by <a href="">@dakebl</a> with <a href="https://www.11ty.dev/">11ty</a>.
    </footer>
  </body>
</html>