---
layout: layouts/default.njk
---

<a href="/">Back</a>

<article>
  <h1>{{ pageTitle }}</h1>
  <time class="post-time" datetime="{{date.toLocaleString('en-UK')}}">
    {{ date.toLocaleDateString('en-UK', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) | replace(',', '') }}
  </time>
  {{ content | safe}}

</article>



