body {
  background-color: #f7f7f7;
  color: #000;
  display: grid;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 190px 5fr 40px;
  height: calc(100vh - 40px);
  margin: 0 20px;
  max-width: 42rem;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

a {
  color: orangered;
  font-weight: bolder;
  text-decoration: none;
}

p {
  padding: 5px 0;
}

time {
  color: dimgrey;
  display: block;
}

header h1, header h2 {
  font-family: "Crimson Text", serif;
  font-size: 42px;
  margin-top: 28px;
  margin-bottom: 0;
}

header p {
  padding: 0;
}

article {
  margin: 0 0 60px;
}

article h1 {
  font-size: 32px;
  margin: 20px 0 5px;
}

article h2 {
  margin: 20px 0 5px;
}

.post-time {
  margin-bottom: 30px;
}

@media screen and (min-width: 450px) {
  body {
    margin: 20px 10%;
  }
}

@media screen and (min-width: 800px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}